section {
  padding: 80px 180px;
}
/* about */
.about .content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 100px;
}
.abouts .content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
.content {
  margin-top: 20px;
}

.about .content .col-left {
  position: relative;
  width: 45%;
}
.abouts .content .col-left {
  position: relative;
  width: 50%;
}

.about .content .col-right {
  position: relative;
  width: 50%;
}
.abouts .content .col-right {
  position: relative;
  width: 50%;
}
.abouts {
  margin: auto;
  margin-left: 40px;
}
.about .content .col-left .img-card {
  position: relative;
  width: 100%;
}
.about .content .col-left .img-card img {
  position: relative;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.abouts img {
  position: relative;
  max-width: 100%;
  object-fit: cover;
  border-radius: 10px;
  height: 500px;
}
.about .content .col-right .content-title {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 30px;
  color: #333;
}
.about .content .col-right p {
  font-size: 1.3em;
  margin-bottom: 30px;
  margin-top: 20px;
  color: rgb(163, 161, 161);
}
.title {
  text-align: center !important;
}
.section-title {
  display: inline-block;
  text-transform: uppercase;
  border-bottom: 6px solid #574b8a;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.about .Aucation h5 {
  font-size: 20px;
  margin-bottom: 0;
}
.abouts .button {
  border-radius: 10px;
  background-color: #574b8a;
  border: none;
  color: #ffffff;
  padding: 15px 10px;
  font-size: 16px;
  cursor: pointer;
  width: 190px;
  font-weight: 800;
}
.btn_addUserToFavorite {
  padding: 10px;
}

.abouts .dataAuction h5 {
  font-size: 18px;
}
@media (max-width: 1040px) {
  .title h1 {
    font-size: 30px;
  }
  section {
    padding: 80px 20px;
  }
  .about .content {
    flex-direction: column;
  }
  .about .content .column {
    position: relative;
    width: 100%;
  }
  .about .content .col-right {
    margin-top: 40px;
    width: 100%;
  }
  .about .content .col-left {
    width: 100%;
  }
  .img-card img {
    width: 100%;
  }
  .abouts {
    flex-direction: column;
  }
}

/*for liveAuction*/

.liveAuctions .btn1 {
  padding: 2px;
  font-size: 25px;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 5px;
  background-color: #ffa949;
  width: 70px;
  cursor: pointer;
}
.liveAuctions .liveAuction_input {
  padding: 7px;
  display: inline-block;
  width: 120px;
  border: none;
  background-color: #e9e8e8;
}
.liveAuctions {
  margin-top: 50px;
}
.containerlive {
  width: 75%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  /* background-color: blueviolet; */
}
.containerlive h2 {
  font-weight: bold;
}
.Aucation {
  padding: 0px 20px;
}
.lastSection {
  padding: 20px;
  text-align: left;
  margin-top: 10px;
}
.content-titles {
  margin-bottom: 5px;
  font-weight: bold;
}
.Aucation h5 {
  margin-bottom: 10px;
}
.dataAuction {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-weight: bold;
}
.PriceTill {
  background-color: #574b8a;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}
.PriceTill span {
  background-color: #ffa949;
}
